<header class="navigation">
  <div class="logo">
    <h1><a href="/">Copperline USA</a></h1>
  </div>

  <div class="callout-block">
    <div class="nav-block secure-block">
      <img src="images/lock.svg" class="lock">
      <h5>Secure File Uploader</h5>
    </div>
  </div>
</header>
